<div class="container">
  <div style="height:100vh;">
    <div class="d-flex justify-content-center align-items-center">
      <div class="shadow p-5 w-50">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <h4 class="display-6 text-center py-2">Job Management</h4>
          
          <div class="mb-3">
            <label for="jobTitle">Job Title</label>
            <input id="jobTitle" required #jobTitle="ngModel" ngModel name="title" type="text"
              class="form-control" placeholder="Enter job title">
            <div *ngIf="jobTitle.invalid && jobTitle.touched">
              <small class="text-danger" *ngIf="jobTitle.errors?.['required']">Required</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="description">Job Description</label>
            <input id="description" required #description="ngModel" ngModel name="description" type="text"
              class="form-control" placeholder="Enter job description">
            <div *ngIf="description.invalid && description.touched">
              <small class="text-danger" *ngIf="description.errors?.['required']">Required</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="location">Location</label>
            <input id="location" required #location="ngModel" ngModel name="location" type="text"
              class="form-control" placeholder="Enter job location">
            <div *ngIf="location.invalid && location.touched">
              <small class="text-danger" *ngIf="location.errors?.['required']">Required</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="company">Company</label>
            <input id="company" required #company="ngModel" ngModel name="company" type="text"
              class="form-control" placeholder="Enter company name">
            <div *ngIf="company.invalid && company.touched">
              <small class="text-danger" *ngIf="company.errors?.['required']">Required</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="salary">Salary</label>
            <input id="salary" required #salary="ngModel" ngModel name="salary" type="text"
              class="form-control" placeholder="Enter salary">
            <div *ngIf="salary.invalid && salary.touched">
              <small class="text-danger" *ngIf="salary.errors?.['required']">Required</small>
            </div>
          </div>

          <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div><br>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Job Title</th>
          <th>Description</th>
          <th>Location</th>
          <th>Company</th>
          <th>Salary</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let job of jobDetails">
          <td>{{job.id}}</td>
          <td>{{job.title}}</td>
          <td>{{job.description}}</td>
          <td>{{job.location}}</td>
          <td>{{job.company}}</td>
          <td>{{job.salary}}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(job)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteJob(job)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update Job</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateJob()">
            <h4 class="display-6 text-center py-2">Update Job</h4>
            
            <div class="mb-3">
              <label for="jobTitle">Job Title</label>
              <input id="jobTitle" required #jobTitle="ngModel" [(ngModel)]="jobToUpdate.title" name="title" type="text"
                class="form-control" placeholder="Enter job title">
              <div *ngIf="jobTitle.invalid && jobTitle.touched">
                <small class="text-danger" *ngIf="jobTitle.errors?.['required']">Required</small>
              </div>
            </div>

            <div class="mb-3">
              <label for="description">Job Description</label>
              <input id="description" required #description="ngModel" [(ngModel)]="jobToUpdate.description" name="description" type="text"
                class="form-control" placeholder="Enter job description">
              <div *ngIf="description.invalid && description.touched">
                <small class="text-danger" *ngIf="description.errors?.['required']">Required</small>
              </div>
            </div>

            <div class="mb-3">
              <label for="location">Location</label>
              <input id="location" required #location="ngModel" [(ngModel)]="jobToUpdate.location" name="location" type="text"
                class="form-control" placeholder="Enter location">
              <div *ngIf="location.invalid && location.touched">
                <small class="text-danger" *ngIf="location.errors?.['required']">Required</small>
              </div>
            </div>

            <div class="mb-3">
              <label for="company">Company</label>
              <input id="company" required #company="ngModel" [(ngModel)]="jobToUpdate.company" name="company" type="text"
                class="form-control" placeholder="Enter company name">
              <div *ngIf="company.invalid && company.touched">
                <small class="text-danger" *ngIf="company.errors?.['required']">Required</small>
              </div>
            </div>

            <div class="mb-3">
              <label for="salary">Salary</label>
              <input id="salary" required #salary="ngModel" [(ngModel)]="jobToUpdate.salary" name="salary" type="text"
                class="form-control" placeholder="Enter salary">
              <div *ngIf="salary.invalid && salary.touched">
                <small class="text-danger" *ngIf="salary.errors?.['required']">Required</small>
              </div>
            </div>
            
            <div class="form-group text-center">
              <input class="btn btn-primary" type="submit" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
